
.icon-title {
  color: $color-orange-monkey;
  padding-right: 10px;
}

.section-collapsible__fill {
  border: none;
  height: auto;
  box-sizing: border-box;
  // height: 100vh;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $color-line;
}

.section-collapsible__fill--title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

.section-collapsible__fill--form {
  display: flex;
  flex-direction: column;
}

.fill-legend {
  text-transform: uppercase;
  color: $color-grey-gorilla;
}

.icon-down {
  margin-left: auto;
  color: $color-grey-gorilla;
  width: 16px;
  height: 18px;
  font-size: $font-size-hecta;
}

.fill-input {
  font-size: $font-size-deci;
  font-family: $font-family-open;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fill-input__image {
  color: $color-white-horse;
  display: inline-block;
  background-color: $color-orange-monkey;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 140px;
}

.fill-input__input {
  display: none;
}

.square__white {
  width: 30px;
  height: 30px;
  border: 1px solid $color-green-fish;
  margin-left: 20px;
  background-size: cover;
}

.fill-input__image__square {
  display: flex;
  flex-direction: row;
}

.fill-input__placeholder {
  border: 1px solid $color-green-fish;
}

.fill-input__abilities {
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
}

.select-abilities {
  background: none;
  border: 1px solid $color-green-fish;
  border-radius: 4px;
  width: 165px;
  height: 30px;
}

.ability-box {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
}

.section-collapsible__share {
  border: none;
  //padding-bottom: 30px;
  border-bottom: 1px solid $color-grey-koala;
}

.section-collapsible__share--title {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: 0;
}

.section-collapsible__share--button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-grey-koala;
}

.fa-address-card {
  margin-right: 10.5px;
}

.phrase {
  margin-bottom: 0;
  font-size: $font-size-hecta;
  color: $color-grey-gorilla;
}

.link-awesome {
  margin-top: 5px;
  margin-bottom: 10px;
  color: $color-orange-monkey;
  text-decoration: none;
  font-size: $font-size-mili;
}

.section-collapsible__share--end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.btn-share {
  width: 181px;
  height: 30px;
  border-radius: 3px;
  border-style: none;
  color: $color-white-horse;
  background-color: $color-blue-peacock;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.input-style {
  height: 30px;
}

.form {
  margin: 0 20px 0 19px;
}
