.cover-main__text--title {
  color: $color-secondary;
  font-family: $font-family-secondary;
  font-size: $font-size-kilo;
}

.cover-main__text--p {
  color: $color-primary;
  font-family: $font-family-primary;
  font-size: $font-size-centi;
}

.cover-main__list {
  color: $color-terciary;
  font-family: $font-family-primary;
  font-size: $font-size-deca;
}

.footer--credit {
  color: $color-grey-cat;
  font-family: $font-family-primary;
  font-size: $font-size-deci;
}

.legend__title {
  color: $color-terciary;
  font-family: $font-family-primary;
  font-size: $font-size-hecta;
  text-transform: uppercase;
  font-weight: 600;
}

.skill {
  color: $color-white-horse;
  font-family: $font-family-primary;
  font-size: $font-size-centi;
}

.design__text {
  color: $color-terciary;
  font-family: $font-family-primary;
  font-size: $font-size-deci;
  text-transform: uppercase;
  margin: 0;
}

.font1 {
  font-family: $font-family-open;
  font-size: $font-size-deca;
  font-weight: 600;
  text-transform: capitalize;
}

.font2 {
  font-family: $font-family-comic;
  font-size: $font-size-deca;
  font-weight: normal;
  text-transform: capitalize;
}

.font3 {
  font-family: $font-family-merri;
  font-size: $font-size-deca;
  font-weight: normal;
  text-transform: capitalize;
}

.section-collapsible__fill--form {
  color: $color-primary;
  font-family: $font-family-primary;
  font-size: $font-size-deci;
}
