
@mixin flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin icontext() {
  font-family: $font-family-open;
  font-size: $font-size-deca;
  font-weight: 400;
  text-decoration: none;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin boxPalette($width, $colorPalette) {
  width: $width;
  height: 25px;
  background-color: $colorPalette;
}
