$color-orange-monkey: #e17334;
$color-orange-monkey-border: rgba(225, 115, 52, 0.21);
$color-grey-mouse: #f5f5f5;
$color-white-horse: #fff;
$color-blue-peacock: #00a0f5;
$color-grey-gorilla: #54585a;

$color-grey-babygorilla: #979797;
$color-grey-koala: #d8d8d8;
// $color-grey-cat: #6b6b6b;

/* Palette 1 */
$color-green-camaleon: #114e4e;
$color-green-sirena: #438792;
$color-green-fish: #a2deaf;

/* Palette 2 */
$color-red-crab: #420101;
$color-red-lobster: #bd1010;
$color-red-prawn: #e95626;

/* Palette 3 */
$color-blue-elephant: #3e5b65;
$color-blue-dolphin: #dfe5eb;
$color-blue-whale: #a0c0cf;

/* Palette 4 */
$color-purple-milka: #7a0177;
$color-purple-butterfly: #c51b8a;
$color-pink-snail: #f768a1;

/* color check */

$color-line: $color-grey-koala;
$color-check: $color-blue-peacock;

$color-primary: $color-green-camaleon;
$color-secondary: $color-orange-monkey;
$color-terciary: $color-grey-gorilla;
$color-quaternary: $color-green-fish;

$background-primary: $color-grey-mouse;
$background-secondary: $color-purple-milka;
$background-terciary: $color-white-horse;

/* Palette 1 */
$color-palette-11: $color-green-camaleon;
$color-palette-12: $color-green-sirena;
$color-palette-13: $color-green-fish;

/* Palette 2 */
$color-palette-21: $color-red-crab;
$color-palette-22: $color-red-lobster;
$color-palette-23: $color-red-prawn;

/* Palette 3 */
$color-palette-31: $color-blue-elephant;
$color-palette-32: $color-blue-dolphin;
$color-palette-33: $color-blue-whale;

/* Palette 4 */
$color-palette-41: $color-purple-milka;
$color-palette-42: $color-purple-butterfly;
$color-palette-43: $color-pink-snail;

$color-grey-cat: #6b6b6b;

/* Tipo de fuente */
$font-family-open: 'Open Sans', sans-serif;
$font-family-merri: 'Merriweather', serif;
$font-family-comic: 'Chilanka', 'Comic Sans MS', sans-serif;

$font-family-primary: $font-family-open;
$font-family-secondary: $font-family-merri;
$font-family-tertiary: $font-family-comic;
//
// $font-family-font1: $font-family-ubuntu;
// $font-family-font2: $font-family-comic;
// $font-family-font3: $font-family-montserrat;

/* Tamaño fuente */

$font-size-mega: 28px;
$font-size-kilo-mega: 24px;
$font-size-kilo: 19px;
$font-size-hecta: 18px;
$font-size-deca: 16px;
$font-size-deci: 14px;
$font-size-centi: 13px;
$font-size-mili: 12px;
