@charset "UTF-8";/* Palette 1 *//* Palette 2 *//* Palette 3 *//* Palette 4 *//* color check *//* Palette 1 *//* Palette 2 *//* Palette 3 *//* Palette 4 *//* Tipo de fuente *//* Tamaño fuente */.cardGenerator__header {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.cardGenerator__image {
  height: 51px;
  width: 201px;
  background-image: url("../images/Awesome-profile-cards.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index__link {
  display: block;
  height: 100%;
  width: 100%;
}

.section-card {
  background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(pink));
  background: linear-gradient(lightblue, pink);
  width: 100vw;
  height: 457px;
  padding-top: 10px;
}

.resetbutton {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #fff;
  background: none;
  margin-left: 45px;
}

.card {
  background-color: #fff;
  width: 240px;
  height: 367px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  margin: auto;
  margin-top: 25px;
}

.card__top {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-info {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 5px solid #a2deaf;
}

.card__top--name {
  font-family: "Chilanka", "Comic Sans MS", sans-serif;
  font-weight: 700px;
  font-size: 18px;
  color: #114e4e;
  margin-bottom: 0;
  margin-top: 10px;
}

.card__top--career {
  font-family: "Chilanka", "Comic Sans MS", sans-serif;
  font-size: 16px;
  color: #54585a;
  margin-bottom: 10px;
  margin-top: 5px;
}

.card__image {
  width: 100%;
  height: 200px;
  background-image: url("../../images/image-card.png");
  background-size: cover;
}

.card__social {
  height: 50px;
  margin: 0;
  padding-right: 62px;
  padding-left: 20px;
}

.card__skills {
  border-top: 2px solid rgba(67, 135, 146, 0.2);
  text-decoration: none;
  list-style: none;
}

.card_skills--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 5px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 40px;
}

.card__social--li {
  height: 32px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 18px;
  width: 70px;
  padding: 3px;
  border-radius: 4px;
  background-color: #438792;
  margin: 5px;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.design__container {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
}

.design-title__legend {
  padding: 0;
}

.design__title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.design__form-colors {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 18px;
  padding-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.design__palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.design__check-radio {
  margin: 0;
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.palette1__greens::before {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #114e4e;
}

.palette1__greens {
  width: 90px;
  height: 25px;
  background-color: #438792;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.palette1__greens::after {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #a2deaf;
}

.palette2__reds::before {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #420101;
}

.palette2__reds {
  width: 90px;
  height: 25px;
  background-color: #bd1010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.palette2__reds::after {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #e95626;
}

.palette3__blues::before {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #3e5b65;
}

.palette3__blues {
  width: 90px;
  height: 25px;
  background-color: #dfe5eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.palette3__blues::after {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #a0c0cf;
}

.design__form-fonts {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.design__letter-type {
  width: 117px;
}

.design__type--common {
  padding: 7px 0;
}

.btn-chubby {
  display: block;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  background-color: #438792;
  border: solid 1px #979797;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 42px;
  margin: 0 auto 30px auto;
}

.resetbutton {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #fff;
  background: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-trash-alt {
  padding-left: 5px;
}

.resetbutton--text {
  padding-left: 5px;
}

.card__social {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.button-card {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: solid 2px #a2deaf;
  background: none;
  color: #114e4e;
  margin: 10px 5px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.button-abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  color: #e17334;
  background-color: transparent;
  border: 1px solid #e17334;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.btn-create-card {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 199px;
  height: 50px;
  border-radius: 12px;
  border-style: none;
  background-color: #e17334;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
}

.btn-share {
  width: 181px;
  height: 30px;
  border-radius: 3px;
  border-style: none;
  color: #fff;
  background-color: #00a0f5;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.icon-title {
  color: #e17334;
  padding-right: 10px;
}

.section-collapsible__fill {
  border: none;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
}

.section-collapsible__fill--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

.section-collapsible__fill--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fill-legend {
  text-transform: uppercase;
  color: #54585a;
}

.icon-down {
  margin-left: auto;
  color: #54585a;
  width: 16px;
  height: 18px;
  font-size: 18px;
}

.fill-input {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fill-input__image {
  color: #fff;
  display: inline-block;
  background-color: #e17334;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 140px;
}

.fill-input__input {
  display: none;
}

.square__white {
  width: 30px;
  height: 30px;
  border: 1px solid #a2deaf;
  margin-left: 20px;
  background-size: cover;
}

.fill-input__image__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fill-input__placeholder {
  border: 1px solid #a2deaf;
}

.fill-input__abilities {
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
}

.select-abilities {
  background: none;
  border: 1px solid #a2deaf;
  border-radius: 4px;
  width: 165px;
  height: 30px;
}

.ability-box {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-collapsible__share {
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

.section-collapsible__share--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: 0;
}

.section-collapsible__share--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.fa-address-card {
  margin-right: 10.5px;
}

.phrase {
  margin-bottom: 0;
  font-size: 18px;
  color: #54585a;
}

.link-awesome {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #e17334;
  text-decoration: none;
  font-size: 12px;
}

.section-collapsible__share--end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.btn-share {
  width: 181px;
  height: 30px;
  border-radius: 3px;
  border-style: none;
  color: #fff;
  background-color: #00a0f5;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.input-style {
  height: 30px;
}

.form {
  margin: 0 20px 0 19px;
}

.cover-main__text--title {
  color: #e17334;
  font-family: "Merriweather", serif;
  font-size: 19px;
}

.cover-main__text--p {
  color: #114e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.cover-main__list {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.footer--credit {
  color: #6b6b6b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.legend__title {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.skill {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.design__text {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.font1 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.font2 {
  font-family: "Chilanka", "Comic Sans MS", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}

.font3 {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}

.section-collapsible__fill--form {
  color: #114e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.green-card .js-card-info {
  border-left: 5px solid #a2deaf;
}

.green-card .js-card__top--name {
  color: #114e4e;
}

.green-card .js-card__top--career {
  color: #114e4e;
}

.green-card .js-social {
  border: solid 2px #a2deaf;
}

.green-card .js-icon {
  color: #114e4e;
}

.green-card .js-skill {
  background-color: #438792;
}

.red-card .js-card-info {
  border-left: 5px solid #e95626;
}

.red-card .js-card__top--name {
  color: #420101;
}

.red-card .js-card__top--career {
  color: #420101;
}

.red-card .js-social {
  border: solid 2px #e95626;
}

.red-card .js-icon {
  color: #420101;
}

.red-card .js-skill {
  background-color: #bd1010;
}

.blue-card .js-card-info {
  border-left: 5px solid #a0c0cf;
}

.blue-card .js-card__top--name {
  color: #3e5b65;
}

.blue-card .js-card__top--career {
  color: #3e5b65;
}

.blue-card .js-social {
  border: solid 2px #a0c0cf;
}

.blue-card .js-icon {
  color: #3e5b65;
}

.blue-card .js-skill {
  background-color: #dfe5eb;
}

.ubuntu-card .js-card__top--name {
  font-family: "Open Sans", sans-serif;
}

.ubuntu-card .js-card__top--career {
  font-family: "Open Sans", sans-serif;
}

.comic-card .js-card__top--name {
  font-family: "Chilanka", "Comic Sans MS", sans-serif;
}

.comic-card .js-card__top--career {
  font-family: "Chilanka", "Comic Sans MS", sans-serif;
}

.montse-card .js-card__top--name {
  font-family: "Merriweather", serif;
}

.montse-card .js-card__top--career {
  font-family: "Merriweather", serif;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.js-hidden-twitter {
  display: none;
}

.skills-hidden {
  display: none;
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.js-collapsible-visible .js-collapsible-form {
  display: block;
}

.js-collapsible-visible .jsRotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.js-press-button {
  background-color: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cover-header {
  width: 250px;
  height: 64px;
  background-image: url("../images/Awesome-profile-cards.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 94px auto 14px auto;
}

.cover-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cover-main__text {
  text-align: center;
  position: relative;
}

.cover-main__text--title {
  font-family: "Merriweather", serif;
  font-size: 19px;
  font-weight: 900;
}

.cover-main__text--p {
  width: 265px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #114e4e;
  font-weight: 400;
  margin: 4px auto 14px auto;
}

.cover-main__list {
  width: 268px;
  height: 74px;
  text-decoration: none;
  list-style: none;
  border: 1.6px solid rgba(225, 115, 52, 0.21);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto 40px auto;
}

.cover-main__list--design {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover-main__list--fill {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover-main__list--share {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.iconLanding {
  color: #e17334;
  font-size: 28px;
}

.btn-chubby {
  display: block;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  background-color: #438792;
  border: solid 1px #979797;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 42px;
  margin: 0 auto 30px auto;
}

.cover_main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover_main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 110px;
  background-color: #fff;
  color: #6b6b6b;
  border-top: 1px solid #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.credit {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 20px;
}

.logoAdalab {
  width: 103px;
  height: 40px;
  margin: 10px auto 20px auto;
}

@media all and (min-width: 768px) {
  .cardGenerator__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#fff));
    background-image: linear-gradient(to bottom, #f5f5f5, #fff);
    padding-right: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .section-collapsible {
    min-width: 399px;
  }

  .section-card {
    border-radius: 6px;
    height: 639px;
    padding-top: 100px;
  }

  .footer {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid 1px #d8d8d8;
  }

  .form {
    max-width: 399px;
    margin: 0 40px 0 30px;
  }

  .cover-header {
    width: 420px;
    height: 107px;
    margin: 350px auto 30px auto;
  }

  .cover-main__text--title {
    font-size: 28px;
  }

  .cover-main__text--p {
    width: 331px;
    font-size: 16px;
    margin: 4px auto 21px auto;
  }

  .cover-main__list {
    width: 325px;
    height: 86px;
  }

  .cover_main__btn {
    margin: auto auto 60px auto;
  }

  .cover_main__btn {
    margin: auto auto 60px auto;
  }

  .footer {
    height: 60px;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .credit {
    margin: 10px 0 20px auto;
  }

  .logoAdalab {
    margin: 11px 0 10px auto;
  }
}

/*# sourceMappingURL=main.css.map */
