.cardGenerator__header {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.cardGenerator__image {
  height: 51px;
  width: 201px;
  background-image: url("../images/Awesome-profile-cards.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index__link {
  display: block;
  height: 100%;
  width: 100%;
}
