body {
  margin: 0;
}

.hidden {
  display: none;
}

.js-hidden-twitter{
  display: none;
}

.skills-hidden {
  display: none;
}

.plus {
  display: flex;
}

.js-collapsible-visible {
  .js-collapsible-form {
    display: block;
  }

  .jsRotate {
    transform: rotate(180deg);
  }
}

.js-press-button {
  background-color: $color-line;
}
